html {
    background-color: rgb(112, 157, 255);
}

body #contenedor{
    background-color: rgb(112, 157, 255);
}

#containerweb div .banner{
    background-color: #252591;
    color: white;
    font-size: 30px;
    border-radius: 2px;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#containerweb{
    width: 80%;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    padding: 50px;
}

.content{
    padding: 20px;
}