
<html>
    <head>
        <meta charset="UTF-8">
        <title>add company</title>
         <link rel="stylesheet" href="css/styles.css" />
		<link rel="stylesheet" href="css/bootstrap.min.css" >    
               
    </head>
    <body>
        <div class="container">
            <h2>Select company:</h2>
            
            <div class="noadmin">
            
                <label for="sel1">Select sector:</label>
                <select class="form-control" id="primaryCmb" name="cmbSector" onchange="loadSecondCmb()">
                    <!-- Records will be displayed here -->
                </select>
                
                <label for="sel1">Select company:</label>
                <select class="form-control" id="secondaryCmb" name="cmbCompany">
                    <!-- Records will be displayed here -->
                </select>  
                <button  id="addCompanyUser" class="btn btn-success btn-md" > Add</button>
              </div>  
              <div id="admin" class="d-none">
	               <label for="sel1">Add company:</label>
	              <input type="text" name="inName" class="form-control" placeholder="company name">         
	              <input type="text" name="inTel" class="form-control" placeholder="Tel. number">  
	              <input type="text" name="inWeb" class="form-control" placeholder="web URL"> 
	              <input type="text" name="inAddress" class="form-control" placeholder="address">  
	              <input type="file" name="inLogo" placeholder="Logo">  
	              <button  id="addCompanyBD" class="btn btn-success btn-md" > Add</button>
              </div>
              
        </div>              
	<script src="js/jsAddCompany.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
              
            
            
    </body>
</html>
