<!DOCTYPE html >
<html lang="en" ng-app='miApp'>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/consulta.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- calendario -->
    <script type="text/javascript" src="calendar/common.js"></script>
    <script type="text/javascript" src="calendar/calendar_core.js"></script>
    <script type="text/javascript" src="calendar/calendar.js"></script>
    <link rel="stylesheet" type="text/css" href="calendar/calendar.css" />
</head>
<body ng-controller="miControlador">
    
    <div id="btnprincipal" class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" ng-click="Citas()">
        <label class="btn btn-outline-primary" for="btnradio1">Citas</label>
      
        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" ng-click="Historial()">
        <label class="btn btn-outline-primary" for="btnradio2">Historial</label>
      </div>

      <div id="Historial" ng-show="ver=='si'">

        
        <h2 id="historialpaciente" >{{nombre}} {{apellidos}}</h2>
        <table class="table" id="tablahistorial">
            <thead>
                <tr>
                    
                    <th scope="col">Descripcion</th>
                    <th scope="col">Vacuna</th>
                    <th scope="col">Fecha</th>
                </tr>
            </thead>
            <tbody>
                
                <div >
                    <tr ng-repeat="item in lista">
                        
                        <td>{{item.numeroDosis}}º Dosis</td>
                        <td>{{item.tipo}}</td>
                        <td>{{item.fecha}}</td>
                    </tr>
                </div>
                
            </tbody>
        </table>

      </div>

      <div id="Citas" ng-show="ver2=='si'">

        <div id="citabtn">
            <button type="button" class="btn btn-primary" id="btnpedircita" ng-click="BTNCita()">Pedir cita</button>

            Anular cita:<input type="text" placeholder="Codigo" >
        </div>

        <div>
            <!-- <div id="calendar"></div>
        
            <script>
                var c = new Calender();
                c.onSelected = function (y, m, d) {
                    console.log([y, m, d].join("-"));
                }
                c.onSetToday = function () {
                    console.log("setToday");
                }
                c.onClear = function () {
                    console.log("clear");
                }
                c.render("calendar");
            </script> -->
        </div>

        <!-- <div class="container">
            <div class="calendar">
              <div class="front">
                <div class="current-date">
                  <h1>Friday 15th</h1>
                  <h1>January 2016</h1> 
                </div>
      
                <div class="current-month">
                    
                    
                  <ul class="week-days">
                    <li>MON</li>
                    <li>TUE</li>
                    <li>WED</li>
                    <li>THU</li>
                    <li>FRI</li>
                    <li>SAT</li>
                    <li>SUN</li>
                  </ul>
      
                  <div class="weeks">
                    <div class="first">
                      <span class="last-month">28</span>
                      <span class="last-month">29</span>
                      <span class="last-month">30</span>
                      <span class="last-month">31</span>
                      <span>01</span>
                      <span>02</span>
                      <span>03</span>
                    </div>
      
                    <div class="second">
                      <span>04</span>
                      <span>05</span>
                      <span class="event">06</span>
                      <span>07</span>
                      <span>08</span>
                      <span>09</span>
                      <span>10</span>
                    </div>
      
                    <div class="third">
                      <span>11</span>
                      <span>12</span>
                      <span>13</span>
                      <span>14</span>
                      <span class="active">15</span>
                      <span>16</span>
                      <span>17</span>
                    </div>
      
                    <div class="fourth">
                      <span>18</span>
                      <span>19</span>
                      <span>20</span>
                      <span>21</span>
                      <span>22</span>
                      <span>23</span>
                      <span>24</span>
                    </div>
      
                    <div class="fifth">
                      <span>25</span>
                      <span>26</span>
                      <span>27</span>
                      <span>28</span>
                      <span>29</span>
                      <span>30</span>
                      <span>31</span>
                    </div>
                  </div>
                </div>
              </div>
      
              <div class="back">
                <input placeholder="What's the event?">
                <div class="info">
                  <div class="date">
                    <p class="info-date">
                    Date: <span>Jan 15th, 2016</span>
                    </p>
                    <p class="info-time">
                      Time: <span>6:35 PM</span>
                    </p>
                  </div>
                  <div class="address">
                    <p>
                      Address: <span>129 W 81st St, New York, NY</span>
                    </p>
                  </div>
                  <div class="observations">
                    <p>
                      Observations: <span>Be there 15 minutes earlier</span>
                    </p>
                  </div>
                </div>
      
                <div class="actions">
                  <button class="save">
                    Save <i class="ion-checkmark"></i>
                  </button>
                  <button class="dismiss">
                    Dismiss <i class="ion-android-close"></i>
                  </button>
                </div>
              </div>
      
            </div>
          </div> -->
        

          <div id="calendar" ng-show="verdias=='si'"></div>
        
            <script>
                var c = new Calender();
                c.onSelected = function (y, m, d) {
                    console.log([y, m, d].join("-"));
                }
                c.onSetToday = function () {
                    console.log("setToday");
                }
                c.onClear = function () {
                    console.log("clear");
                }
                c.render("calendar");
            </script>

<div id="calendar" ng-show="verhoras=='si'">
  <div id="calender_2" class="horas">
    <div class="horastitulo">
      <button ng-click="Volver()">Volver</button>
    </div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <!-- <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Home</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Profile</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Contact</button>
      </li> -->
    </ul>
    <div class="tab-content" id="myTabContent">
      <!-- <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="horasdiv">
          hola <button type="button" class="btn btn-success">Success</button>
        </div>
        <div class="horasdiv">
          hola<button type="button" class="btn btn-danger">Danger</button>
        </div>
        <div class="horasdiv">
          hola<button type="button" class="btn btn-danger">Danger</button>
        </div>
        <div class="horasdiv">
          hola<button type="button" class="btn btn-danger">Danger</button>
        </div>
      </div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="horasdiv">
          hola <button type="button" class="btn btn-success">Success</button>
        </div>
        <div class="horasdiv">
          hola<button type="button" class="btn btn-danger">Danger</button>
        </div>
        <div class="horasdiv">
          hola<button type="button" class="btn btn-danger">Danger</button>
        </div>
        <div class="horasdiv">
          hola<button type="button" class="btn btn-danger">Danger</button>
        </div>
      </div>
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <div class="horasdiv">
          hola <button type="button" class="btn btn-success">Success</button>
        </div>
        <div class="horasdiv">
          hola<button type="button" class="btn btn-danger">Danger</button>
        </div>
        <div class="horasdiv">
          hola<button type="button" class="btn btn-danger">Danger</button>
        </div>
        <div class="horasdiv">
          hola<button type="button" class="btn btn-danger">Danger</button>
        </div>
      </div> -->
    </div>
  </div>
</div>

      </div>
    
    
    
    <script src="js/jsHistorial.js"></script>
    <script src="js/jsCitas.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
    
</body>
</html>