<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/styles.css" />
	<link rel="stylesheet" href="css/bootstrap.min.css" >    
	<title>Document</title>
</head>
<body class="container">
	
	<h1 class="display-3" id="username"></h1>

	<a href="#" id="addCompany" class="tooltip-test" title="Tooltip"><h5>Add company</h5></a> 
	<a href="#" id="logout" class="tooltip-test" title="Tooltip"><h5>Logout</h5></a> 

	<div id="companies">
	  
			  <!-- fill with the images -->
	</div>

</body>
<script src="js/jsHome.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</html>
