
<html>
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel="stylesheet" href="css/styles.css" />
		<link rel="stylesheet" href="css/bootstrap.min.css" >    
    </head>
    <body class="container">

		<h1 class="display-3" id="username"></h1>
	    
	    <h1 class="display-6"> Selected companies</h1>

		<a href="#" id="addCompany" class="tooltip-test" title="Tooltip"><h5>Add company</h5></a> 
		<a href="#" id="logout" class="tooltip-test" title="Tooltip"><h5>Logout</h5></a> 

		<div id="companies">
		  
		  		<!-- fill with the images -->
		</div>

	<script src="js/jsHome.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
              
    </body>
</html>
