<html>

   <meta charset="UTF-8">
   <title>sign up</title>
<body>

<h3>Registration form</h3>

<div>

    
    <label>Username</label>
    <input type="text" name="inUserName" placeholder="Your username">
    
    <label >Name</label>
    <input type="text" name="inName" placeholder="Your name..">

    <label>Surame</label>
    <input type="text" name="inSurname" placeholder="Your last name..">
    
    <label>Password</label>
    <input type="password" name="inPass" placeholder="type a password">
    
    <label>Retype Password</label>
    <input type="password" name="inRePass" placeholder="retype password">
    
    <label>Email</label>
    <input type="text" name="inEmail" placeholder="insert a valid email">

     
    <button class="btn btn-success" value="Submit">
</div>

</body>
</html>